body
{
	background-image: url("1.jpg");
	background-size: cover;
}
.dropbtn {
    background-color: #27292d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position:absolute;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #b70523}

.dropdown:hover .dropdown-content {
    display: block;
}
#i
{
	background-color: #27292d;
}
#Gallery
{
	background-color: #27292d;
	color: white;
	
	border: #27292d solid;
	font-size: 17px;
}
pre
{
	margin-top: 8.9%;
	font-size: 32px;
	color: #273847;
	font-family: 'Kaushan Script', cursive;
}
#al
{
	margin-top: 10.78%;
	margin-left: 87%;

}
